* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[contenteditable] {
    outline: 0px solid transparent;
}

body {
    background-color: #706d67;
    font-family: 'Kaushan Script', cursive;
}

.container1 {
    position: absolute;
    top: 4px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.notes_card {
    width: 230px;
    height: 230px;
    box-shadow: 10px 10px 24px 0px rgb(0, 0, 0, 0.75);
    padding: 19px 16px;
}

.container3 {
    position: absolute;
    top: 30%;
    left: 40%;
}

#note-text {
    width: 227px;
    height: 227px;
    outline: none;
    border: none;
    box-shadow: 10px 10px 24px 0px rgb(0, 0, 0, 0.75);
    padding: 36px 9px 0px 9px;
}

#check-icon {
    position: absolute;
    top: 8px;
    right: 31px;
    cursor: pointer;
}

#cross-icon,
.cross_notes_btn {
    position: absolute;
    top: 8px;
    right: 5px;
    cursor: pointer;
}

.edit_btn {
    position: absolute;
    top: 8px;
    right: 29px;
    cursor: pointer;
}

.buttons {
    display: none;
}

.content {
    margin-top: 10px;
    word-wrap: break-word;
}
